@import url('https://use.typekit.net/etm4laq.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.base-section {
  text-align: center;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.mobile-menu {
  text-align: left;
}

.nav-list {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(239, 81, 60);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.bar1,
.bar2,
.bar3 {
  width: 2.2rem;
  height: 0.35rem;
  background-color: #333;
  margin: 0.33rem 0 0 0;
}

.nav-list a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.nav-list a:hover {
  color: #f1f1f1;
}

.nav-list .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.shoe-more {
  width: 50%;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: none;
  scroll-behavior: initial;
  touch-action: none;
  -ms-touch-action: none;
  overflow-y: hidden;
}

.nav-logo {
  position: absolute;
  left: 20px;
  z-index: 1;
  width: 20px;
  top: 10px;
}

.overflowHidden {
  overflow: hidden;
  margin: 0;
  touch-action: none;
  -ms-touch-action: none;
  height: 100vh;
}

.show-more {
  width: 100%;
  height: 50px;
}

.show {
  left: 0;
  backdrop-filter: blur(8px);
  transition: 0.3s;
}

.mobile-display {
  color: powderblue;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  position: absolute;
  mix-blend-mode: multiply;
}

.arrow {
  width: 5%;
  margin-bottom: 2px;
}

.cancel-icon {
  margin-left: 90%;
}

.nav-item {
  display: none;
}

.container-wrap {
  margin: 0;
}

.div-1 {
  padding-bottom: 50px;
  background-image: url('images/mobile-intro-1.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-right: 10px;
}

.div-2 {
  background-image: url('images/pattern_bg-2.png');
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
  color: #fff;
  padding: 10px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.div-3 {
  text-align: center;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.features {
  text-align: center;
}

.div-4 {
  background-image: url('images/mobile-intro-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.speech-div {
  display: flex;
}

.speech-1 {
  width: 100%;
  height: auto;
  margin-left: 10px;
  text-align: left;
}

.list-icon {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  width: 100%;
  place-items: center;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
}

.lists-container {
  padding: 10px 0 5px;
}

.see {
  display: none;
}

.para-tag {
  border: 4px solid rgb(255, 255, 255);
  background-color: rgb(247, 247, 248);
  padding: 0 1em;
  line-height: 150%;
  font-size: 15px;
  height: auto;
}

.para-tag-1 {
  background-color: #fff;
  margin: 0;
  width: 100%;
  padding: 1em 1em;
  line-height: 1.5;
  font-size: 15px;
  height: auto;
}

.about-contact {
  padding: 30px 40px 20px 20px;
}

p {
  font-family: lato, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  line-height: 1.5;
}

hr {
  margin-top: 50px;
  border-bottom: none;
}

.email {
  font-family: lato, sans-serif;
  font-weight: 700;
  font-style: bold;
  text-decoration: underline;
}

.list-text {
  text-align: left;
  line-height: 1.5em;
  place-items: center;
  margin-top: 5px;
}

.text-2 {
  color: #000;
  font-size: 10px;
  padding: 6%;
}

.summit-bottom {
  background-color: rgb(239, 81, 60);
  padding: 2px;
  margin: 20px 10px;
}

.speech-italics {
  font-family: lato, sans-serif;
  font-weight: 400;
  font-style: italic;
  color: rgb(239, 81, 60);
  font-size: 13px;
  text-align: left;
}

.speech-bold {
  font-size: 13px;
  font-family: lato, sans-serif;
  font-style: normal;
  text-align: left;
}

.speaker-img {
  width: 25%;
  height: auto;
  margin-top: 20px;
}

.global-summit {
  text-align: center;
}

.global-images {
  padding-bottom: 40px;
}

.global-div {
  border: 5px solid;
  margin: 0;
  width: 100%;
  padding: 1em 1em;
  line-height: 150%;
  height: auto;
  color: ghostwhite;
  text-align: center;
}

.speech-image {
  width: 40%;
  height: 8rem;
  margin-top: 8%;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: clip !important;
  color: rgb(51, 51, 51);
}

body > * {
  width: 100%;
}

.time {
  color: black;
  font-family: lato, sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 25px;
}

h3 {
  font-family: lato, sans-serif;
  font-style: bold;
  font-size: 22px;
}

h1 {
  font-weight: 700;
  line-height: 1;
  font-size: 32px;
  background: linear-gradient(to right, #ec5242, #6f3c3c, #ec5242, #ff10);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.hide {
  display: none;
}

.footer-div,
.footer {
  display: none;
}

h4 {
  color: rgb(239, 81, 60);
}

h2 {
  font-family: lato, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.hello {
  font-family: lato, sans-serif;
  font-weight: 400;
  color: rgb(239, 81, 60);
  font-style: normal;
}

.guide_bar {
  width: 53px;
  border-bottom: 1px solid rgb(239, 81, 60);
  margin: 0 auto 54px;
}

.guide_2 {
  width: 25px;
  border-bottom: 1px solid rgb(27, 25, 25);
  margin-left: 5px;
}

ul,
li {
  text-decoration: none;
  display: inline;
}

.venue {
  font-family: lato, sans-serif;
  font-weight: 700;
  font-style: bold;
  width: 100%;
  text-align: center;
}

.bottom-section {
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(46, 46, 46);
  text-align: center;
  padding: 20px 0;
}

.footer-div {
  background-color: #fff;
  align-items: center;
  height: 50px;
  padding: 7% 7%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* sponsors stated here */
.sponsor img {
  filter: grayscale(100%);
}

.partners {
  background-color: var(--primaryColor);
  width: 100%;
}

.partnership img {
  width: 100%;
}

.partnership {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding-bottom: 28.3px;
}

.global-1,
.global-2 {
  width: 50%;
  padding: 10px 0;
  margin: 5px 0;
}

@media screen and (min-width: 768px) {
  body {
    text-align: center;
  }

  .features {
    text-align: center;
  }

  h1 {
    font-size: 50px;
  }

  .div-3 {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
  }

  .hide {
    display: block;
  }

  .guide_2 {
    margin-left: 0;
  }

  .speech-bold {
    text-align: left;
  }

  .speech-italics {
    text-align: left;
  }

  .speech-1 {
    text-align: left;
    margin-left: 20px;
  }

  .lists-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .div-4 {
    text-align: center;
  }

  .div-1 {
    width: 100%;
    background-image: url('images/mobile-intro-1.png');
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    text-align: left;
    padding-bottom: 100px;
  }

  .list-text {
    text-align: center;
    padding: 1px 2px;
  }

  .meseum {
    text-align: left;
  }

  .list-icon {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 10px;
  }

  .nav-item {
    display: block;
  }

  .see {
    display: block;
    color: #fff;
    font-size: 10px;
    font-family: lato, sans-serif;
    font-weight: 700;
    font-style: bold;
    text-decoration: underline;
  }

  .nav-logo {
    display: none;
  }

  .speech-image {
    width: 30%;
    height: 8rem;
  }

  .openbtn {
    display: none;
  }

  .nav-bar {
    justify-content: center;
    width: 90%;
    background-color: #fff;
  }

  header {
    position: fixed;
    background-color: #fff;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  /* hover effect on nav items */
  .nav-item a::after {
    display: block;
    content: '';
    border-bottom: solid 4px #429aec;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }

  .nav-item a:hover {
    color: #ec5242;
  }

  .nav-item a:hover::after {
    transform: scaleX(1);
  }

  .nav-bar a img {
    height: auto;
    width: 80%;
  }

  .nav-item:not(:first-child) {
    margin-left: 2rem;
  }

  .nav-list-item .nav-item a {
    text-decoration: none;
  }

  .nav-list-item .nav-about a,
  .nav-list-item .nav-border a {
    color: #ec5242;
  }

  .nav-list-item .nav-color a {
    font-family: lato, sans-serif;
    font-style: bold;
    font-size: 0.92rem;
    font-weight: 700;
    color: rgb(136, 136, 136);
  }

  .nav-list-item {
    margin-left: 20%;
    font-family: lato, sans-serif;
    font-style: bold;
    font-size: 1rem;
    font-weight: 700;
  }

  .nav-border {
    height: auto;
    padding: 0.2rem 0.5rem;
    position: relative;
    border: 5px solid #ec5242;
    width: 6rem;
  }

  .flex {
    display: flex;
    align-items: flex-end;
  }

  .summit-bottom {
    display: none;
  }

  .speech-div-2 {
    display: flex;
  }

  .global-1 {
    width: 25%;
    margin: 0 10px;
    place-items: center;
  }

  .global-2 {
    width: 27%;
    margin: 0 10px;
    place-items: center;
  }

  .partnership {
    display: flex;
  }

  .sponsor {
    padding: 0 5px;
    margin: 0 1px;
  }

  .mobile-menu {
    display: none;
  }

  .show-more {
    display: none;
  }

  .footer-div,
  .footer {
    display: flex;
    gap: 50%;
    padding: 0 20%;
  }
}
